:root {
    --black: #000;
    --black-second: #121619;
    --dark: #21322AD7;
    --dark-rgba: #0004;
    --white: #FFF;
    --white-links: #eee;
    --orange: #F17F2F;
    --credits: #6BA951;
    --rose: #B56CD2;
    --green: #4AD293;
    --gold: #705D28;
}
